#drop-down {
    overflow-x: auto;
    transition: height 200ms linear;
    width: 200px;
    margin: 0px auto;
}

.slide-in {
    height: 100px;
}

.slide-out {
    height: 0px;
} 

.species-ul {
    list-style: none;
}