#drop-down {
  overflow-x: auto;
  transition: height 200ms linear;
  margin: 45px auto;
  position: absolute;
  background-color: white;
  width: 130px;
}

.slide-in {
  height: 100px;
}

.slide-out {
  height: 0px;
}

.species-ul {
  list-style: none;
  padding-left: 10px;
}

.species-ul li {
  text-align: center;
  padding: 5px 5px;
  width: 100px;
}

.species-ul li:active {
    background-color: blue;
    color: white;
}

.btn-fixed {
  padding: 0;
  border: 0;
  display: inline-grid;
}

.form-positioner {
  align-items: flex-start;
}

.btn-dropdown {
  width: 130px;
}